.container{
  text-align: center;
  font-size: 18px;
}

.database,.database th,.database td{
  border: 1px #000000 solid;
  border-collapse: collapse;
}

table{
  display: inline-block;
}


/* jqueryで新しくできたinput要素の大きさをコントロール */
#updateStart{
  width: 90px;
}
#updateRate{
  width: 32px;
}
